<meta charset='utf-8'>
<meta name='viewport' content='width=device-width, initial-scale=1'>

{{ $description := partialCached "_baseof/helpers/description" . .RelPermalink }}
<meta name='description' content='{{ $description }}'>

{{ $title := partialCached "_baseof/helpers/title" . .RelPermalink }}

<title>{{ $title }}</title>

{{ with .Site.Params.favicon }}
    <link rel="shortcut icon" href="{{ . }}" />
{{ end }}

<link rel='canonical' href='{{ .Permalink }}'>

{{ partial "_baseof/styles/styles.html" . }}

{{ range .AlternativeOutputFormats }}
    <link rel="{{ .Rel }}" type="{{ .MediaType.Type }}" href="{{ .Permalink | safeURL }}">
{{ end }}

{{ template "_internal/google_analytics.html" . }}

