# OS
.DS_Store
Thumbs.db

# IDEs
.buildpath
.project
.settings/
.build/
.idea/
nbproject/

# Hugo
.hugo_build.lock

public/*
resources/*

static/*
!static/.gitkeep

# Data Packs
static/data1

# Libraries
node_modules
package-lock.json