
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">

{{ $font := resources.Get "node_modules/admin-lte/plugins/fontawesome-free/css/all.min.css" }}
<link rel="stylesheet" href="{{ $font.RelPermalink }}">

{{ $options := dict "enableSourceMap" true }} 
{{ $sass := resources.Get "scss/style.scss" }}
{{ $style := $sass | resources.ToCSS | minify | resources.Fingerprint "sha256" }}
<link rel="stylesheet" href="{{ $style.RelPermalink }}">

