/*!
*   OMSTest Theme
*/

// Bootstrap
// ---------------------------------------------------
@import "../node_modules/bootstrap/scss/functions";

@import "../node_modules/admin-lte/build/scss/bootstrap-variables";

// Custom Theme Color START
$custom-color: #6998d4;
$theme-colors: map-merge((
    'custom-color': $custom-color,
), $theme-colors);
// Custom Theme Color END

// Variables and Mixins
// ---------------------------------------------------
@import '../node_modules/admin-lte/build/scss/variables';
@import '../node_modules/admin-lte/build/scss/variables-alt';
@import '../node_modules/admin-lte/build/scss/mixins';

@import '../node_modules/bootstrap/scss/bootstrap';

@import '../node_modules/admin-lte/build/scss/parts/core';
@import '../node_modules/admin-lte/build/scss/parts/components';
@import '../node_modules/admin-lte/build/scss/parts/extra-components';
@import '../node_modules/admin-lte/build/scss/parts/pages';
@import '../node_modules/admin-lte/build/scss/parts/plugins';
@import '../node_modules/admin-lte/build/scss/parts/miscellaneous';

// Custom Style START
.my-custom-style {
  background-color: $custom-color;
  padding: .5rem 0;
}
// Custom Style END

